<template component="ui-input" status="early" summary="HTML Next migration of UiInput.">
  <defs>
    <prop name="defaultValue" type="string" default="">defaultValue property.</prop>
    <prop name="disabled" type="boolean" default="false">disabled property.</prop>
    <prop name="invalid" type="boolean" default="false">invalid property.</prop>
    <prop name="readOnly" type="boolean" default="false">readOnly property.</prop>
    <prop name="value" type="string">value property.</prop>
  </defs>
  <div :data-default-value="defaultValue" :data-disabled="disabled" :data-invalid="invalid" :data-read-only="readOnly" :data-value="value">
    <slot></slot>
  </div>
</template>
