<template component="ui-radio" status="early" summary="HTML Next migration of UiRadio.">
  <defs>
    <prop name="checked" type="boolean">Controlled checked state. Omit it to use defaultChecked and local interaction state.</prop>
    <prop name="defaultChecked" type="boolean" default="false">defaultChecked property.</prop>
    <prop name="disabled" type="boolean" default="false">disabled property.</prop>
    <prop name="name" type="string" default="">name property.</prop>
    <prop name="required" type="boolean" default="false">required property.</prop>
    <prop name="value" type="string" default="on">value property.</prop>
  </defs>
  <div :data-checked="checked" :data-default-checked="defaultChecked" :data-disabled="disabled" :data-name="name" :data-required="required" :data-value="value">
    <slot></slot>
  </div>
</template>
